<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Krista K's Ice Cream & Candy</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href='http://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700italic,700,800,800italic' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div id="nav">
      <div class="image-gradient">
        <div class="copy">
          <p>
            <span id='logo-text'>krista k's</span>
            <span id='logo-subtext'>ICE CREAM AND CANDY</span>
          </p>
        </div>
        <div class="overlay"></div>
      </div>
    </div>

    <header class="navigation">
      <div class="menu-wrapper">
        <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
        <div class="nav">
          <ul id="navigation-menu">
            <li class="nav-link"><%= link "Home", to: "/" %></li>
            <li class="nav-link"><%= link "About Us", to: "/about_us" %></li>
            <li class="nav-link"><%= link "Jobs", to: "/jobs" %></li>
          </ul>
        </div>
      </div>
    </header>

    <%= render @view_module, @view_template, assigns %>

    <footer class="footer-2">
      <div class="footer-logo">
      </div>
        <div class="footer-secondary-links">
          <ul>
          </ul>

          <ul class="footer-social">
            <li>
              <%= link to: "https://www.facebook.com/kristaksicecream" do %>
                <img src="/images/facebook-logo-circle.png">
              <% end %>
            </li>
          </ul>
        </div>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-XXXXXX-XX', 'example.com');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    </script>
  </body>
</html>
